.reset:hover {
  background-color: #0077b6;
  scale: 1.02;
}
.reset:active {
  background-color: #075f91;
  scale: 1.03;
}
.cubes {
  background-color: white;
  width: 7rem;
  height: 7rem;
  border-radius: 8%;
  font-size: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.cubes:hover {
  scale: 1.02;
}
.cubes:active {
  scale: 1.038;
}
.play:hover {
  scale: 1.02;
}
.play:active {
  scale: 1.038;
}
.mess{
  font-size: 4rem
}